<?xml version="1.0" encoding="UTF-8"?>
<!-- Qt-style, типа запись в реестр, но в XML -->
<Content>
	<Application name="EditorMap">
		<Group name="DialogHeightmapParam">
			<Entry key="WorldSize" value="10.1000023"/>
			<Entry key="Size"      value="3"/>
			<Entry key="Height"    value="38.0001793"/>
		</Group>
		<Group name="SettingCamera"> 
			<Entry key="pos_x" value="-7.05135632"/>
			<Entry key="pos_y" value="29.3028851"/>
			<Entry key="pos_z" value="0.00416436885"/>
			<Entry key="dir_x" value="0.0198965054"/>
			<Entry key="dir_y" value="0.693428755"/>
			<Entry key="dir_z" value="0.0194221716"/>
			<Entry key="dir_w" value="-0.719988644"/>
		</Group>
	</Application>
</Content>
