<?xml version="1.0" encoding="UTF-8"?>
<!-- Qt-style, типа запись в реестр, но в XML -->
<Content>
	<Application name="EditorMap">
		<Group name="DialogHeightmapParam">
			<Entry key="WorldSize" value="10.1000023"/>
			<Entry key="Size"      value="3"/>
			<Entry key="Height"    value="38.0001793"/>
		</Group>
		<Group name="SettingCamera"> 
			<Entry key="pos_x" value="1.94493926"/>
			<Entry key="pos_y" value="25.9346428"/>
			<Entry key="pos_z" value="22.8651733"/>
			<Entry key="dir_x" value="0.40005061"/>
			<Entry key="dir_y" value="-0.0306649841"/>
			<Entry key="dir_z" value="-0.0131890578"/>
			<Entry key="dir_w" value="-0.915884972"/>
		</Group>
	</Application>
</Content>
