<?xml version="1.0" encoding="UTF-8"?>
<!-- Qt-style, типа запись в реестр, но в XML -->
<Content>
	<Application name="EditorMap">
		<Group name="DialogHeightmapParam">
			<Entry key="WorldSize" value="10.1000023"/>
			<Entry key="Size"      value="3"/>
			<Entry key="Height"    value="38.0001793"/>
		<Entry key="x_min" value="0"> </Entry>
<Entry key="x_max" value="0"> </Entry>
<Entry key="y_min" value="0"> </Entry>
<Entry key="y_max" value="0"> </Entry>
</Group>
		<Group name="SettingCamera"> 
			<Entry key="pos_x" value="-12.3715515"/>
			<Entry key="pos_y" value="31.724678"/>
			<Entry key="pos_z" value="0.916443586"/>
			<Entry key="dir_x" value="-0.377325505"/>
			<Entry key="dir_y" value="-0.56834805"/>
			<Entry key="dir_z" value="-0.32869184"/>
			<Entry key="dir_w" value="0.653164983"/>
		</Group>
	</Application>
</Content>
